# Extração dos dados do ENADE

In [1]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [2]:
#Cria um diretorio para armazenar os dados do enade
os.makedirs('./enade2019', exist_ok=True)

In [2]:
#Define a url para requisição
url = 'https://download.inep.gov.br/microdados/microdados_enade_2019_LGPD.zip'

#Download do conteudo
filesbytes = BytesIO(
    requests.get(url, verify=False).content
)

#Extrai o zipfile
myzip = zipfile.ZipFile(filesbytes)
myzip.extractall('./enade2019')

c:\Users\Igor\AppData\Local\Programs\Python\Python38\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'download.inep.gov.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

## Verificando os dados baixados

In [7]:
#Unindo os dados em um arquivo só
file_names = os.listdir('./microdados_Enade_2019_LGPD/2.DADOS')
list_dfs = [pd.read_csv(f'./microdados_Enade_2019_LGPD/2.DADOS/{file}',
                        sep=';', index_col='NU_ANO') for file in file_names]

enade = pd.concat(list_dfs, axis=1)

C:\Users\Igor\AppData\Local\Temp\ipykernel_6944\1122414473.py:3: DtypeWarning: Columns (12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  list_dfs = [pd.read_csv(f'./microdados_Enade_2019_LGPD/2.DADOS/{file}',

In [9]:
#Salvando o arquivo unico em um novo CSV
enade.to_csv('./microdados_Enade_2019_LGPD/2.DADOS/Enade_2019.csv')

In [2]:
enade = pd.read_csv('./microdados_Enade_2019_LGPD/2.DADOS/Enade_2019.csv')

C:\Users\Igor\AppData\Local\Temp\ipykernel_6484\256947895.py:1: DtypeWarning: Columns (11,13,15,17,19,21,23,25,27,29,35,37,41,43,45,47,49,51,53,65,67,68,106,108,110,159,161,163) have mixed types. Specify dtype option on import or set low_memory=False.
  enade = pd.read_csv('./microdados_Enade_2019_LGPD/2.DADOS/Enade_2020.csv')

In [6]:
#Tabela cruzada
#Contando homens e mulheres
(enade.TP_SEXO.value_counts() / enade.shape[0]) * 100

F    53.749683
M    46.224967
Name: TP_SEXO, dtype: float64

In [13]:
#Estatisticas descritivas da Nota Geral dos alunos da
#região Centro-Oeste
enade.loc[
    enade.CO_REGIAO_CURSO == 5
].NT_GER.describe()

count    32061.000000
mean        45.589233
std         15.097418
min          0.000000
25%         35.500000
50%         46.100000
75%         56.300000
max         85.900000
Name: NT_GER, dtype: float64

In [19]:
#Filtrando notas dos alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) &
    (enade.NU_IDADE <= 50)
].shape

(428910, 164)

In [7]:
#Compara regioes
enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  389735.000000  389735.000000  389735.000000
mean       44.117045      39.870327      45.515985
std        14.498942      16.211251      16.603229
min         0.000000       0.000000       0.000000
25%        33.300000      28.500000      33.100000
50%        43.800000      39.300000      45.300000
75%        54.800000      51.300000      57.800000
max        93.000000      97.800000     100.000000

In [10]:
enade.groupby('CO_REGIAO_CURSO').agg({
    'NT_GER': 'mean',
    'NT_FG': 'mean',
    'NT_CE': 'mean',
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                46.469625  41.334387  48.164777
2                46.176189  41.353552  47.766882
3                42.906440  39.029989  44.182044
4                43.251591  39.325464  44.543550
5                45.589233  40.783425  47.174807